/* =============
    Gallery
============= */
#gallery {
    div{
        background-color: black;
    }
    ul {
        display: grid;
        grid-template-areas:
        "mission"
        "kid1"
        "kid2"
        "kid3"
        "banner";
        grid-template-rows: repeat(5, 272px);

        @include sm{
            grid-template-columns: repeat(1, 80%);
            grid-template-areas:
            "mission"
            "kid1"
            "kid2"
            "kid3";
            grid-template-rows: repeat(4, 350px);
            padding: 24px;
            grid-gap: 12px;
        }

        @include md{
            grid-template-columns: repeat(2, 50%);
            grid-template-areas:
            "mission kid1"
            "kid2 kid3"
            "banner banner";
            grid-template-rows: repeat(3, 350px);
            padding: 80px;
            grid-gap: 40px;
        }

        @include lg{
            grid-template-columns: repeat(3, 30%);
            grid-template-areas:
            "mission kid3 kid3"
            "kid2 kid3 kid3"
            "kid1 banner banner";
            grid-template-rows: repeat(3, 350px);
        }

        li {
            background-size: cover;
            height: 100%;
        }

        li:nth-child(1) {
            background-image: url("../img/gallery/mission.jpg");
            grid-area: mission;
        }
        li:nth-child(2) {
            background-image: url("../img/gallery/kid1.jpg");
            grid-area: kid1;
        }
        li:nth-child(3) {
            background-image: url("../img/gallery/kid2.jpg");
            grid-area: kid2;
        }
        li:nth-child(4) {
            background-image: url("../img/gallery/kid3.jpg");
            grid-area: kid3;
        }
        li:nth-child(5) {
            background-image: url("../img/gallery/banner.jpg");
            grid-area: banner;
        }
    }
}
