/* =============
    Header
============= */

header {
    background-color: $light;
    display: grid;
    grid-template-areas:
        "logo burger"
        "nav nav";
    grid-template-columns: 70% auto;
    @include lg {
        grid-template-areas: "logo nav";
        grid-template-columns: 30% auto;
    }

    // logo container
    section:nth-child(1) {
        grid-area: logo;
        padding: 24px;
        align-items: center;
        display: flex;
    }

    // burger container
    section:nth-child(2) {
        align-items: center;
        display: flex;
        grid-area: burger;

        @include lg {
            display: none;
        }

    }


    // nav container
    nav {
        display: none;
        grid-area: nav;
        @include lg {
            display: block !important;
        }
    }
}


#burger-container {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    outline: none;
    position: relative;
    width: 90px;

    div {
        background-color: $dark;
        height: 4px;
        margin-bottom: 24px;
        position: absolute;
        width: 100%;
    }

    div:nth-child(1) {
        top: 0;
    }

    div:nth-child(2) {
        top: 20px;
    }

    div:nth-child(3) {
        margin: 0;
        top: 40px;
    }
}
